@import 'tailwindcss';

:root {
  --background: oklch(1 0 0 / 1);
  --foreground: oklch(0.2 0 0 / 1);
  --link: oklch(0.62 0.2214 258.99);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.14 0 0 / 1);
    --foreground: oklch(0.95 0 0 / 1);
    --link: oklch(0.71 0.1681 254.624);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--link);

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: var(--color-blue-500);
  color: var(--color-white);
  border-radius: var(--radius-md);
  padding: calc(var(--spacing) * 2);
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue-600);
  }

  &:active {
    --tw-scale-x: 95%;
    --tw-scale-y: 95%;
    --tw-scale-z: 95%;
    scale: var(--tw-scale-x) var(--tw-scale-y);
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function)
        /* cubic-bezier(0.4, 0, 0.2, 1) */
    );
    transition-duration: var(
      --tw-duration,
      var(--default-transition-duration) /* 150ms */
    );
    --tw-duration: 200ms;
    transition-duration: 200ms;
  }
}

button.link {
  color: var(--link);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}
